__pycache__
/Source/server/SocketServer/TestSocket/.idea/workspace.xml
.DBStore/*
/Source/server/WebServer/node_modules/*
.DS_Store/*
.DS_Store
/.DS_Store/*
/Source/server/WebServer/.idea/*
/Source/server/WebServer/logs/*
./Source/server/WebServer/logs
/Source/server/SocketServert/TestSocket/.DS_Store
./Source/server/SocketServert/TestSocket/.DS_Store

